.container{
    background-color: #f2f2f2; 
    width: 80%;
    margin-left: 10%;
    /* background-image: url(../img/japao.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-image: linear-gradient(rgb(180, 32, 44), purple, rgb(103, 74, 207)); */
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Cabeçalho da página */

.header {
    background-color: rgb(211, 5, 15);
}

/* menu inicio da página */
.nav-bar li {
    float: left;
    color: white;
    text-align: center;
    letter-spacing: 1px;
}

.nav-bar ul {
    list-style-type: none;
    overflow: hidden;
    padding-left: 35%;
    background-color: rgb(243, 86, 86);
    font-family: "Ubuntu", sans-serif;
}

.nav-bar li a {
    color: rgb(236, 230, 230);
    text-decoration: none;
    padding: 14px 16px;
    display: block;
}

.nav-bar li a:hover {
    background-color: rgb(211, 5, 15);
    color: white;
}

/* banner */
.banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

.hoteis {
    margin-top: 25px;
    padding: 5px;
    font-family: "Ubuntu", sans-serif;
}

.hoteis header {
    text-align: center;
    color: #000;
    font-size: 35pt;
    margin-bottom: 2%;
} 

.hoteis article {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hoteis p {
    padding: 5px;
    text-align: justify;
    color: #000;
    font-size: 20px;
}

/* cards */

.column {
    float: left;
    width: 29%;
    padding: 15px;
    height: 250px;
    margin: 2% 0 2% 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
}

.banner-card {
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
    background-color: dimgray;
    font-family: "Ubuntu", sans-serif;
}

.banner-card a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #f2f2f2;
    font-size: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* reserva */

.reserva {
    background-image: linear-gradient(to bottom right,#9e0c3c, #b01135, #cd1b2d, #e82322, #fb291b);
    height: 250px;
}

.reserva h3 {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 23pt;
    color: white;
    padding: 35px 0;
}

.reserva button {
    background-color: red;
    padding: 20px 26px;
    color: white;
    font-size: 20pt;
    border-color: red;
    border-radius: 8px 0;
    margin-bottom: 20px;
    margin-left: 45%;
}

.reserva button a {
    text-decoration: none;
    color: white;
}

.reserva button a:hover {
    background-color: white;
    color: red;
}

/* rodapé da página */

.footer {
    background-color: rgb(112, 97, 97);
    margin-top: 5px;
    color: white;
    text-align: center;
    margin-bottom: 2%;
}

.footer li {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.footer ul {
    list-style-type: none;
    overflow: hidden;
}

.footer li a i {
    color: white;
    text-decoration: none;
    padding: 24px 20px;
    margin-bottom: 5pt;
}

.footer li a:hover {
    color: rgb(180, 29, 29);
}

.creditos {
    font-family: "Ubuntu", sans-serif;
}